@import url('https://fonts.googleapis.com/css?family=Manrope:300,400,500i,600,700,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kanit:300,400,500i,600,700,800,900,900i&display=swap');

body{
    background: #3B3D45;
    margin: 0;
    font-family: 'Manrope';
    color: #F2F2F2;
}

h1, h2, h3{
    font-family: 'Kanit';
}

#bg_banner{
    background-image: url('../img/banner.png') ;
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#banner{
    position: relative;
}

#mask_banner{
    height: 100%;
    position: absolute;
    background: rgba(63, 61, 86, 0.55);
    width: 100%;
    top: 0;
}

#bg_banner *{
    z-index: 3;
}

#bg_banner h1{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.445);
    font-size: 48px;
    line-height: 75px;
    text-align: center;
    padding: 4em 6em;
    padding-bottom: 0;
}

.btn{
    text-decoration: none;
    font-family: 'Kanit';
    font-weight: 700;
    font-size: 1.5em;
    display: inline-block;
    margin: auto;
    padding: 5px 40px;
    text-transform: uppercase;
}

.btn, a{
    transition: .4s;
}

.btn_border{
    color: #f2f2f2;
    border: solid 2px #f2f2f2;
    background: transparent;
}

.border_black{
    border: solid 3px #3B3D45;
    color: #3B3D45;
}

.btn_purple{
    background-color: #5465FF;
    color: #f2f2f2;
    border-style: none;
}

#aluguel .btn_purple{
    font-size: 1em;
}

#banner .btn{
    padding: 5px 90px;
}

.btn_border:hover{
    background: #f2f2f2;
    color: #000;
    color: rgba(0, 0, 0, 0.5);
}

.border_black:hover{
    background: #3B3D45;
    color: #F2F2F2;
    opacity: 1;
}

#banner .btn{
    margin-bottom: 6em;
}

.container{
    padding: 4em;
}

#sobre .column:nth-child(2){
    width: 60%;
}

.column {
    display: flex;
    flex-direction: column;
}

#sobre img{
    margin-bottom: 3em;
}

#sobre h1{
    font-size: 46px;
    line-height: 69px;
    margin: 0;
}

#sobre h1::before{
    content: '';
    height: 45px;
    width: 5px;
    background-color: #5465FF;
    display: inline-block;
    position: relative;
    bottom: -12px;
    margin-right: .3em;
    border-radius: 5px 0 0 5px;
}

#sobre p{
    font-size: 1.2em;
}

.container .row{
    align-items: center;
}

.card{
    width: 25%;
    text-align: center;
    padding: 2em;
    height: 100%;
}

#pratico{ border: solid 4px #71B340; }

#sustentavel{ border: solid 4px #FFFA01; }

#moderno{ border: solid 4px #009DDC; }

.card p{
    height: 5em;
}

#cards small{
    margin-top: 1em;
    width: 100%;
}

.line_after{
    font-size: 47px;
    text-align: center;
}

.line_after::after{
    display: block;
    content: '';
    background: #5465FF;
    height: 7px;
    width: 25%;
    margin: .5em auto;
}

#aluguel{
    text-align: center;
}

#aluguel p{
    margin-top: 4em;
}

input, textarea{
    outline: none;
    padding: .5em 1em;
    border-radius: 8px;
    margin: 1em 0;
    font-family: 'Manrope';
    font-weight: 600;
    color: #333;
    resize: none;
    border: solid 1px #3B3D45;
    box-sizing: border-box;
}

#aluguel input{
    width: 60%;
}

#aluguel img{
    margin: 2em 0;
}

#contato {
    background-image: url('../img/wave.svg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15em;
}

#contato form{
    width: 50%;
}

#contato form input, #contato form textarea{
    width: 100%;
}

label{
    display: block;
}

#contato .line_after::after{
    background-color: #3B3D45;
}

.btn_black{
    background: #3B3D45;
    color: #F2F2F2;
    border: solid 3px #3B3D45;
}

.btn_black:hover{
    border: solid 3px #3B3D45;
    background: #f2f2f2;
    color: #3B3D45;
}

#contato .btn{
    margin-top: 1em;
}

@media screen and (max-width: 1300px) {
    #aluguel img{
        width: 100%;
    }

    #bg_banner h1{
        padding: 4em;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 992px) {
    #bg_banner h1{
        padding: 8em 2em;
        padding-bottom: 0;
    }

    #bg_banner{
        min-height: 900px;
    }

    .container .row{
        justify-content: center;
    }

    #sobre .row{
        flex-direction: column-reverse;
    }

    #sobre .column:nth-child(2){
        width: 100%;
        margin-bottom: 4em;
    }

    .card{
        /* padding: 1em; */
        /* min-height: fit-content; */
        width: 50%;
        margin-bottom: 2em;
    }

    .card p {
        height: 8em;
    }

    .card img{
        width: 30%;
    }

    #cards small{
        text-align: center;
    }

    #contato form{
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (max-width: 768px) {
    #bg_banner h1 {
        padding: 7em 1em;
        padding-bottom: 0;
        font-size: 2.5em;
        line-height: normal;
    }

    #banner .btn {
        padding: 5px 50px;
    }

    .line_after{
        font-size: 35px;
    }

    .card{
        width: 100%;
    }

    .card p {
        height: auto;
    }

    #aluguel input {
        width: 100%;
    }
        
}

@media screen and (max-width: 600px){
    .container {
        padding: 2em;
    }

    #contato .btn {
        margin-top: 1em;
        margin-bottom: 2em;
    }

    #sobre img {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    #bg_banner h1 {
        font-size: 2em;
        line-height: 1.3em;
        padding: 10em 1em;
        padding-bottom: 0;
    }

    #bg_banner {
        min-height: 800px;
    }

    footer h2{
        margin-bottom: 0;
    }
}