#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 500000;
}

#modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width:60%;
    max-width: 95%;
    background-color: #fff;
    z-index: 1000000;
    color: #3B3D45;
    max-height: 95vh;
    overflow-y: auto;
}

#fade,
#modal {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}

#modal.hide,
#fade.hide {
    opacity: 0;
    pointer-events: none;
}

#modal.hide {
  top: 0;
}
#modal form{
    display: flex;
    flex-direction: column;
}
#modal form > div{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
#modal form input, #modal form select, #modal form textarea{
    padding: 0;
    /* height: 4vh; */
    font-size: 1rem;
    border-radius: 7px;
    padding: 0px 10px;
    margin-top: 10px;
}

#header .close-modal{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: solid 2px #3B3D45;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    cursor: pointer;
}

#header .close-modal div{
    width: 100%;
    transform: rotate(45deg);
    height: 1px;
    background-color: #3B3D45;
    /* position: absolute; */
    top: 0;
    box-sizing: border-box;
    position: relative;
}

#header .close-modal div:nth-child(2){
    transform: rotate(-46deg);
}

#header, .footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#title{
    font-size: 45px;
    margin: 0;
}

#andamento{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
    margin-top: 1em;
}

#andamento h2{
    font-weight: 300;
    text-align: center;
    width: 25%;
    line-height: 1.2em;
    margin: 0;
}

#andamento h2::after{
    content: '';
    display: block;
    width: 100%;
    height: 7px;
    margin-top: 10px;
    background: #D9D9D9;
}

#andamento h2.done::after{
    background: #5465FF;
}

#confirmar_carro{
    display: flex;
}

#confirmar_carro, #destino{
    flex-wrap: wrap;
}

#modal .wrap_img{
    width: 33%;
}

.wrap_img img, .wrap img, .wrap input{
    width: 100%;
}

.wrap_info{
    width: 33%;
}

.wrap_info div, .endereco{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    padding: 0 1.5em;
    gap: 20px;
}

.border{
    border-right: solid 1px #777777;
}

.wrap_info p{ 
    margin: 0; 
    font-size: 1em;
}

.wrap_info strong{
    font-size: 1.2em;
}

.wrap_info img{
    width: 25px;
}

.cor_icon{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #5465FF;
}

.endereco p{
    font-size: 1.5em;
}

.endereco span{
    font-size: .7em;
}

.footer{
    margin-top: 2em;
    width: 100%;
}

.footer .btn{
    margin: initial !important;
    font-size: 1.1em;
}

#modal h2, #modal p{
    width: 100%;
    text-align: center;
}

#destino h2 {
    margin-bottom: 0;
}

#destino p{
    margin-top: 0;
}

.wrap {
    width: 50%;
}

.detalhes_viagem {
    margin-left: 2em;
    width: calc(50% - 2em);
}

.timeline {
    line-height: 1.4em;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.timeline-item {
    padding-left: 40px;
    position: relative;
}

.timeline-item:last-child{
    padding-bottom: 0;
}

.timeline-marker {
    position: absolute;
    top: 0; bottom: 0; left: 0;
    width: 15px;
}

.timeline-marker::before{
    background: #5465FF;
    border: 3px solid transparent;
    border-radius: 100%;
    content: "";
    display: block;
    height: 5px;
    position: absolute;
    top: 4px; left: 0;
    width: 5px;
    transition: background 0.3s ease-in-out,
            border 0.3s ease-in-out;
}

.timeline-marker:not(.destino)::after{
    content: "";
    width: 2px;
    background: rgba(59, 61, 69, 0.33);
    display: block;
    position: absolute;
    top: 15px; bottom: 0; left: 5px;
    height: calc(100% + 25px);
}

.timeline-info{
    font-size: 1.2em;
    margin-bottom: .5em;
}

.timeline-content{
    text-align: start;
    margin-bottom: 2em;
}

.detalhes_viagem h3{
    text-align: center;
    font-size: 1.5em;
    margin-top: 0;
}

.center{
    text-align: center;
    display: inline-block;
}

.itens_previsto{
    font-size: 1.3em;
}

#modal .container{
    padding-top: 1em;
}

@media screen and (max-width: 1300px){
    .btn{
        padding: 5px 20px;
    }

    #modal{
        width: 80%;
    }
}

@media screen and (max-width: 768px){
    .wrap_info {
        width: 100%;
    }

    #modal .wrap_img {
        width: 50%;
        margin: auto;
    }

    #andamento{
        flex-wrap: wrap;
        gap: 5px;
    }

    #andamento h2{
        width: calc(50% - 5px);
        margin-top: 0;
        font-size: 1.1em;
    }

    .wrap_info div, .endereco{
        padding: 0;
    }

    #modal h2 {
        text-align: center;
    }

    #andamento h2::after{
        height: 3px;
    }

    .border{
        border-style: none;
    }

    .footer{
        flex-direction: column;
        margin-top: 0;
    }

    .footer .btn{
        width: 100%;
        text-align: center;
        margin-top: 1em !important;
        justify-content: center;
    }

    .space{
        display: none;
    }

    #header .close-modal{
        width: 35px;
        height: 35px;
    }

    .wrap {
        width: 100%;
    }

    .detalhes_viagem {
        margin-left: 0;
        margin-top: 2em;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .detalhes_viagem h3{
        width: 100%;
    }

    .detalhes_viagem ul, .detalhes_viagem p{
        width: 50% !important;
    }
}

@media screen and (max-width: 600px){
    #title{
        font-size: 30px;
    }

    #modal {
        width: 95%;
    }

    #modal .wrap_img {
        width: 70%;
    }

    .endereco p {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 500px){
    .detalhes_viagem ul, .detalhes_viagem p{
        width: 100% !important;
    }
}